body{
   background: url(../../../../images/template/bg1.gif) black;
   color: white;
   font: 9pt Verdana;
}

a{
  color: #ffffcc;
  text-decoration: none;
}

a:hover{
  color: white;
  text-decoration: none;
}

strong{
  color: #ffffae;
}

var{
  color: #ffffcc;
  text-decoration: none;
}

.contenido{
  padding: 15px;
}

.menu{
   color: white;
   font: 10pt Tahoma;
   text-align: center;
   cursor: pointer;
}